In [3]:
import pandas as pd
file_location = 'BUSYv1.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])

In [4]:
df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','UPDATE_STAMP']][:5]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP,UPDATE_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916,2017-01-01 11:55:46.573
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234,2017-01-01 12:05:46.027
2,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,89010303497519018030349751,31b5ce5a-270f-4629-8cf7-feea2c5f4c88,2017-01-01 11:55:45.437,2017-01-01 12:05:46.068
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562,2017-01-01 12:05:46.090
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173,2017-01-01 12:05:46.123

In [5]:
fixed df.['BARCODE']

SyntaxError: invalid syntax (<ipython-input-5-4307910e83a1>, line 1)

In [6]:
fixed df['BARCODE']

SyntaxError: invalid syntax (<ipython-input-6-d980c6ace101>, line 1)

In [5]:
fixed df.['BARCODE']

SyntaxError: invalid syntax (<ipython-input-5-4307910e83a1>, line 1)

In [7]:
fixed df.BARCODE

SyntaxError: invalid syntax (<ipython-input-7-b0c25b55b8bf>, line 1)

In [8]:
df.BARCODE

0                      8901399058561
1                      8901030349751
2         89010303497519018030349751
3                      8910030349751
4                      8906002432587
5                          002342587
6                      8906001055983
7                               0553
8                       906850510001
9                      8906007281980
10                     9068051050028
11                     8901242114307
12                     8906006332683
13                     8906007280969
14                                 2
15                     8049063200105
16                     8904063258441
17                          90806825
18                                 6
19                                 1
20                                 1
21                                 2
22                                 1
23                              3640
24                                 1
25                                92
26                              2133
27                                 1
28                              2061
29                                 1
                     ...
379481                          1184
379482                             1
379483                          1198
379484                             5
379485                          7194
379486                             1
379487                          7248
379488                             1
379489                            90
379490                          1973
379491                             1
379492                             1
379493                          1204
379494                             5
379495                          4501
379496                             5
379497                            74
379498                           231
379499                             1
379500                          1855
379501                             1
379502                          7100
379503                             1
379504                          1192
379505                             5
379506                          7231
379507                             1
379508                          1416
379509                             5
379510                             5
Name: BARCODE, Length: 379511, dtype: object

In [9]:
df.BARCODE.plot()

TypeError: Empty 'DataFrame': no numeric data to plot

In [10]:
df["BARCODE"][:5]

0                 8901399058561
1                 8901030349751
2    89010303497519018030349751
3                 8910030349751
4                 8906002432587
Name: BARCODE, dtype: object

In [11]:
%matplotlib inline
df["BARCODE"][:5].plot()

TypeError: Empty 'DataFrame': no numeric data to plot

In [12]:
df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','UPDATE_STAMP']][:5]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP,UPDATE_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916,2017-01-01 11:55:46.573
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234,2017-01-01 12:05:46.027
2,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,89010303497519018030349751,31b5ce5a-270f-4629-8cf7-feea2c5f4c88,2017-01-01 11:55:45.437,2017-01-01 12:05:46.068
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562,2017-01-01 12:05:46.090
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173,2017-01-01 12:05:46.123

In [13]:
barcode_size_corrected_df = df[df['BARCODE'].length() == 13]

AttributeError: 'Series' object has no attribute 'length'

In [14]:
barcode_size_corrected_df = df[df['BARCODE'].str.len() == 13]
barcode_size_corrected_df[:5]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP,CAPTURED_WINDOW,UPDATE_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916,NaN,2017-01-01 11:55:46.573
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234,NaN,2017-01-01 12:05:46.027
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562,NaN,2017-01-01 12:05:46.090
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173,NaN,2017-01-01 12:05:46.123
6,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906001055983,4f127c90-3867-45c4-bc0d-c211ec16cf21,2017-01-01 12:05:12.017,NaN,2017-01-01 12:05:46.216

In [15]:
barcode_size_corrected_df = df[df['BARCODE'].str.len() == 12 or df['BARCODE'].str.len() == 13 or df['BARCODE'].str.len() == 8]
barcode_size_corrected_df[:15]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) or (df['BARCODE'].str.len() == 13) or (df['BARCODE'].str.len() == 8)]
barcode_size_corrected_df[:15]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [17]:
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
barcode_size_corrected_df[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP,CAPTURED_WINDOW,UPDATE_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916,NaN,2017-01-01 11:55:46.573
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234,NaN,2017-01-01 12:05:46.027
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562,NaN,2017-01-01 12:05:46.090
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173,NaN,2017-01-01 12:05:46.123
6,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906001055983,4f127c90-3867-45c4-bc0d-c211ec16cf21,2017-01-01 12:05:12.017,NaN,2017-01-01 12:05:46.216
8,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,906850510001,bf048bf1-bbad-4be0-9541-339e9c5b7ac4,2017-01-01 12:05:16.619,NaN,2017-01-01 12:05:46.284
9,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007281980,5875c7ff-254e-4f60-be90-c04a445279de,2017-01-01 13:02:36.693,NaN,2017-01-01 13:05:46.245
10,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,9068051050028,d03308e4-a460-4438-a2f2-7f789d020095,2017-01-01 13:02:39.548,NaN,2017-01-01 13:05:46.264
11,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8901242114307,9e66de75-4377-415c-b579-b0f59200797b,2017-01-01 13:02:43.869,NaN,2017-01-01 13:05:46.309
12,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906006332683,bc69c09e-a7cc-439a-bc30-77d4bbb5c26c,2017-01-01 13:02:57.722,NaN,2017-01-01 13:05:46.335
13,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007280969,31d51ac5-3392-406d-aa9c-696d194b1e04,2017-01-01 13:03:12.557,NaN,2017-01-01 13:05:46.353
15,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8049063200105,ff7b5722-b764-472b-912d-28ebdc179ec8,2017-01-01 13:04:46.539,NaN,2017-01-01 13:05:46.405
16,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8904063258441,ab9d4a65-c4b7-4306-9438-8ec2c9b79bd9,2017-01-01 13:04:52.498,NaN,2017-01-01 13:05:46.444
17,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,90806825,60d2bca9-a265-4511-bf09-cbfa332ec209,2017-01-01 13:04:56.881,NaN,2017-01-01 13:05:46.462
232,BUSY,DEL0000001446,counter1,counter1DEL000000144630292,465978465060,75fb85f2-97b2-45fb-ac49-73aa0dd0439a,2017-01-01 13:56:30.120,NaN,2017-01-01 14:05:46.548

In [18]:
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','UPDATE_STAMP']]
no_capture_window[:10]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP,UPDATE_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916,2017-01-01 11:55:46.573
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234,2017-01-01 12:05:46.027
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562,2017-01-01 12:05:46.090
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173,2017-01-01 12:05:46.123
6,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906001055983,4f127c90-3867-45c4-bc0d-c211ec16cf21,2017-01-01 12:05:12.017,2017-01-01 12:05:46.216
8,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,906850510001,bf048bf1-bbad-4be0-9541-339e9c5b7ac4,2017-01-01 12:05:16.619,2017-01-01 12:05:46.284
9,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007281980,5875c7ff-254e-4f60-be90-c04a445279de,2017-01-01 13:02:36.693,2017-01-01 13:05:46.245
10,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,9068051050028,d03308e4-a460-4438-a2f2-7f789d020095,2017-01-01 13:02:39.548,2017-01-01 13:05:46.264
11,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8901242114307,9e66de75-4377-415c-b579-b0f59200797b,2017-01-01 13:02:43.869,2017-01-01 13:05:46.309
12,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906006332683,bc69c09e-a7cc-439a-bc30-77d4bbb5c26c,2017-01-01 13:02:57.722,2017-01-01 13:05:46.335

In [19]:
no_capture_window[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP,UPDATE_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916,2017-01-01 11:55:46.573
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234,2017-01-01 12:05:46.027
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562,2017-01-01 12:05:46.090
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173,2017-01-01 12:05:46.123
6,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906001055983,4f127c90-3867-45c4-bc0d-c211ec16cf21,2017-01-01 12:05:12.017,2017-01-01 12:05:46.216
8,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,906850510001,bf048bf1-bbad-4be0-9541-339e9c5b7ac4,2017-01-01 12:05:16.619,2017-01-01 12:05:46.284
9,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007281980,5875c7ff-254e-4f60-be90-c04a445279de,2017-01-01 13:02:36.693,2017-01-01 13:05:46.245
10,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,9068051050028,d03308e4-a460-4438-a2f2-7f789d020095,2017-01-01 13:02:39.548,2017-01-01 13:05:46.264
11,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8901242114307,9e66de75-4377-415c-b579-b0f59200797b,2017-01-01 13:02:43.869,2017-01-01 13:05:46.309
12,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906006332683,bc69c09e-a7cc-439a-bc30-77d4bbb5c26c,2017-01-01 13:02:57.722,2017-01-01 13:05:46.335
13,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007280969,31d51ac5-3392-406d-aa9c-696d194b1e04,2017-01-01 13:03:12.557,2017-01-01 13:05:46.353
15,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8049063200105,ff7b5722-b764-472b-912d-28ebdc179ec8,2017-01-01 13:04:46.539,2017-01-01 13:05:46.405
16,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8904063258441,ab9d4a65-c4b7-4306-9438-8ec2c9b79bd9,2017-01-01 13:04:52.498,2017-01-01 13:05:46.444
17,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,90806825,60d2bca9-a265-4511-bf09-cbfa332ec209,2017-01-01 13:04:56.881,2017-01-01 13:05:46.462
232,BUSY,DEL0000001446,counter1,counter1DEL000000144630292,465978465060,75fb85f2-97b2-45fb-ac49-73aa0dd0439a,2017-01-01 13:56:30.120,2017-01-01 14:05:46.548

In [1]:
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
no_capture_window[:15]

NameError: name 'barcode_size_corrected_df' is not defined

In [2]:
df[:15]

NameError: name 'df' is not defined

In [4]:
import pandas as pd
file_location = 'BUSYv1.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]

In [5]:
import pandas as pd
file_location = 'BUSYv1.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]

In [6]:
no_capture_window[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173
6,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906001055983,4f127c90-3867-45c4-bc0d-c211ec16cf21,2017-01-01 12:05:12.017
8,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,906850510001,bf048bf1-bbad-4be0-9541-339e9c5b7ac4,2017-01-01 12:05:16.619
9,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007281980,5875c7ff-254e-4f60-be90-c04a445279de,2017-01-01 13:02:36.693
10,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,9068051050028,d03308e4-a460-4438-a2f2-7f789d020095,2017-01-01 13:02:39.548
11,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8901242114307,9e66de75-4377-415c-b579-b0f59200797b,2017-01-01 13:02:43.869
12,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906006332683,bc69c09e-a7cc-439a-bc30-77d4bbb5c26c,2017-01-01 13:02:57.722
13,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007280969,31d51ac5-3392-406d-aa9c-696d194b1e04,2017-01-01 13:03:12.557
15,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8049063200105,ff7b5722-b764-472b-912d-28ebdc179ec8,2017-01-01 13:04:46.539
16,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8904063258441,ab9d4a65-c4b7-4306-9438-8ec2c9b79bd9,2017-01-01 13:04:52.498
17,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,90806825,60d2bca9-a265-4511-bf09-cbfa332ec209,2017-01-01 13:04:56.881
232,BUSY,DEL0000001446,counter1,counter1DEL000000144630292,465978465060,75fb85f2-97b2-45fb-ac49-73aa0dd0439a,2017-01-01 13:56:30.120

In [7]:
len(no_capture_window.index)

56513

In [8]:
type(no_capture_window)

pandas.core.frame.DataFrame

In [9]:
no_capture_window.to_csv('BUSYv4.csv', sep='|')

In [10]:
guid_dropped_dup = no_capture_window.drop_duplicates(subset='GUID', keep='first')
len(guid_dropped_dup.index)

56513

In [11]:
import pandas as pd
file_location = 'EASYSOL326dc49.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]

In [12]:
no_capture_window[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
9,EASYSOL,UPR0000001410,Counter1,Counter1UPR000000141035671,SUPRADYN,4b37625b-c447-4560-8720-66e8581da8ca,2017-01-01 11:01:29.855
21,EASYSOL,UPR0000001410,Counter1,Counter1UPR000000141035671,MRSVERMA,c1086f39-248c-4431-80c7-1cb632132c0c,2017-01-01 11:03:05.079
23,EASYSOL,UPR0000001410,Counter1,Counter1UPR000000141035671,MRSVERMA,7f77ff96-0d69-4887-8933-0b81403c3893,2017-01-01 11:03:05.516
36,EASYSOL,UPR0000001410,Counter2,Counter2UPR000000141034931,RECOFASTPLUS,3cafc100-25de-4a98-af12-d7d01199e2db,2017-01-01 11:51:44.889
41,EASYSOL,UPR0000001410,Counter2,Counter2UPR000000141034931,25600614,4999be73-800f-4a0b-8f76-07981578c797,2017-01-01 11:52:22.969
44,EASYSOL,UPR0000001410,Counter2,Counter2UPR000000141034931,72600907,41bb2b08-9cd4-4d2e-8889-1600cfb634f4,2017-01-01 11:52:36.119
59,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8906001387022,f695752e-7efd-4e4a-ba3f-c15de4ba3a1e,2017-01-01 11:45:19.203
61,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8908000806016,ac4ea3ec-cc52-46d6-99ab-fa623d4e72ad,2017-01-01 11:45:22.635
62,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786513,4902430627115,f6158afc-a974-4a4d-ae0d-40164a4be72c,2017-01-01 12:33:12.939
63,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8906007280242,0ea2eeea-1c98-4516-b8cd-86af0ae1e6be,2017-01-01 11:45:27.892
64,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786514,8901396476009,11d2e653-8d41-423f-9e34-beb16ec030b6,2017-01-01 12:34:19.879
65,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8901207018091,17dc8f2a-fed8-496c-95fd-97f082ca9383,2017-01-01 11:45:33.820
66,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8901233022789,497af5cb-a5a2-4f88-9542-aa103f95984f,2017-01-01 11:45:38.406
67,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786514,10006812,36236ffc-7c74-4be0-a363-753c335b45cb,2017-01-01 12:34:23.529
71,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8901192107121,3389209a-64ee-4d20-ac47-655cfd3a9e9b,2017-01-01 11:45:51.308

In [13]:
barcode_pattern = '[0-9]'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
barcode_rectified[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
41,EASYSOL,UPR0000001410,Counter2,Counter2UPR000000141034931,25600614,4999be73-800f-4a0b-8f76-07981578c797,2017-01-01 11:52:22.969
44,EASYSOL,UPR0000001410,Counter2,Counter2UPR000000141034931,72600907,41bb2b08-9cd4-4d2e-8889-1600cfb634f4,2017-01-01 11:52:36.119
59,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8906001387022,f695752e-7efd-4e4a-ba3f-c15de4ba3a1e,2017-01-01 11:45:19.203
61,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8908000806016,ac4ea3ec-cc52-46d6-99ab-fa623d4e72ad,2017-01-01 11:45:22.635
62,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786513,4902430627115,f6158afc-a974-4a4d-ae0d-40164a4be72c,2017-01-01 12:33:12.939
63,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8906007280242,0ea2eeea-1c98-4516-b8cd-86af0ae1e6be,2017-01-01 11:45:27.892
64,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786514,8901396476009,11d2e653-8d41-423f-9e34-beb16ec030b6,2017-01-01 12:34:19.879
65,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8901207018091,17dc8f2a-fed8-496c-95fd-97f082ca9383,2017-01-01 11:45:33.820
66,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8901233022789,497af5cb-a5a2-4f88-9542-aa103f95984f,2017-01-01 11:45:38.406
67,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786514,10006812,36236ffc-7c74-4be0-a363-753c335b45cb,2017-01-01 12:34:23.529
71,EASYSOL,UPR0000002786,Counter3,Counter3UPR0000002786423,8901192107121,3389209a-64ee-4d20-ac47-655cfd3a9e9b,2017-01-01 11:45:51.308
73,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786511,8901207019234,45e79376-a374-4f4b-894e-28378332f6af,2017-01-01 12:21:00.112
77,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786512,10006913,62427c98-71c8-4972-9dd7-c07228b19329,2017-01-01 12:23:43.882
78,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786512,10004528,5de7789c-306c-4ae8-a71f-3c710d4b3252,2017-01-01 12:23:46.690
79,EASYSOL,UPR0000002786,Counter2,Counter2UPR0000002786512,8901393015157,86dd52c7-b2b3-4cfe-85e1-5a7251186adc,2017-01-01 12:23:54.724

In [14]:
barcode_rectified.to_csv('EASYv2.csv', sep='|')

In [15]:
len(barcode_rectified.index)

256541

In [16]:
import pandas as pd
file_location = 'MARGfc72cd7_pipe.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '[0-9]'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
barcode_rectified[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
36,MARG,DEL0000000001,Counter2,Counter2DEL00000000014526,8901030599200,b4bb0326-cbe3-44ee-9d5a-9ce25b35c001,2017-01-01 18:07:41.187
37,MARG,DEL0000000001,Counter2,Counter2DEL00000000014526,8904057390324,a12c1278-a09b-47f3-a97a-01807aa324b9,2017-01-01 18:36:53.203
40,MARG,DEL0000000001,Counter2,Counter2DEL00000000014526,8901058842821,745572de-c606-4c83-8d96-8017653bb99a,2017-01-01 18:46:26.062
41,MARG,DEL0000000001,Counter2,Counter2DEL00000000014526,8906007280693,d8eeb987-ca6a-4c44-a965-1372c65419d2,2017-01-01 18:46:28.250
43,MARG,DEL0000000001,Counter2,Counter2DEL00000000014526,8901233023199,2a0cd0c9-5058-4ce5-b0d3-bc3c681ad0ff,2017-01-01 18:48:46.031
186,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8906005618368,0706a29a-2ed1-44db-bb4c-eee0c7270491,2017-01-01 18:24:33.718
187,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8901786121007,90fb42df-32a9-4e1c-bfc3-d7acbedc2b51,2017-01-01 18:24:37.828
188,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8901314116420,c9c21eba-4ae5-4029-bae9-2ff20fa96c7a,2017-01-01 18:24:41.937
189,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8901396221500,5e17774c-b0e9-45c1-bf54-67a8ffd1df66,2017-01-01 18:24:47.187
190,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8902167000218,ac70e767-94c3-470d-8de2-f24cf4389110,2017-01-01 18:24:51.453
192,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8901192103116,300d18e5-4200-405e-bb65-c6b65fe9305f,2017-01-01 18:24:59.093
193,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8902102194927,c7357042-357e-42e8-a275-48676813ae74,2017-01-01 18:25:03.718
194,MARG,DEL0000000001,Counter4,Counter4DEL000000000182861,8901531300015,65950d0f-6937-4077-a625-0713776bd80d,2017-01-01 18:26:10.890
200,MARG,DEL0000000001,Counter4,Counter4DEL000000000182862,6291100212606,7316ca4a-2a5a-438c-9933-a0294d0a7be8,2017-01-01 18:28:53.625
201,MARG,DEL0000000001,Counter4,Counter4DEL000000000182862,8902710506013,2aeffb7e-c9a8-4718-b508-8351e7b4d267,2017-01-01 18:29:17.906

In [17]:
len(barcode_rectified.index)

415757

In [18]:
barcode_rectified.to_csv('MARGv2.csv', sep='|')

In [19]:
import pandas as pd
file_location = 'RETAIL_EXPERe490dde.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '[0-9]'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
barcode_rectified[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
6,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8901725121129,1b5ce670-bdb4-4d89-9be5-2e03adc4215f,2017-01-03 19:20:46.566
8,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8901725144104,11523603-b8e9-4c60-80c2-a4d57f6332ba,2017-01-03 19:23:31.660
9,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8906006330566,53cbcb3b-0d12-4500-a99e-108574bac181,2017-01-03 19:23:36.285
10,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8901063362840,5c5b8332-08d9-4a52-992c-8015ab5539b2,2017-01-03 19:23:39.166
11,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8901063155206,65ba7245-0f87-4e4d-b75f-1c3911e87b1c,2017-01-03 19:23:46.051
13,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8902351222310,dc4b1459-3df3-4c0c-9dfe-4c1610d63143,2017-01-03 19:23:57.068
15,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8904109445361,878ed6b3-3359-45e4-823a-2457b772c09d,2017-01-03 19:24:08.422
16,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8904109451102,ab5f96a7-c924-4506-8223-37347b350b01,2017-01-03 19:24:14.768
18,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8904109464621,05e8677b-b03d-4c2f-8dfa-7dac4fbe20f1,2017-01-03 19:24:18.864
19,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8904109490538,13bc41e4-6696-496a-9d91-4d2becf0da5e,2017-01-03 19:24:22.128
20,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8904109409967,40f7fefb-d328-4f33-a8ba-84ea3e891570,2017-01-03 19:24:28.194
22,RETAIL EXPERT,DEL0000002778,Counter2,Counter2DEL00000027783,8904109450112,888694d4-eb0c-440f-9c4d-77a645685811,2017-01-03 19:24:40.921
25,RETAIL EXPERT,DEL0000002778,Counter1,Counter1DEL0000002778804,8904049101747,8c7f53de-aac6-49c7-8f46-830941679947,2017-01-01 11:23:42.732
26,RETAIL EXPERT,DEL0000002778,Counter1,Counter1DEL0000002778804,8904109400438,50e1680e-4f53-4753-9254-c11137b8b407,2017-01-01 11:23:45.883
27,RETAIL EXPERT,DEL0000002778,Counter1,Counter1DEL0000002778804,8901786421015,6b00af9e-36db-4ff5-9feb-10c83612fa52,2017-01-01 11:23:48.987

In [20]:
len(barcode_rectified.index)

307888

In [21]:
barcode_rectified.to_csv('RETAILv2.csv', sep='|')

In [22]:
barcode_rectified.to_csv('RETAILv2.csv', sep='|', index=False)

In [23]:
import pandas as pd
file_location = 'SOFT_GENd6661f5.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '[0-9]'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
barcode_rectified[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
1,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818568,8901030611636,79676a5d-dbe6-4350-8649-cffa8839c5f2,2017-01-01 11:10:08.812
2,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818568,8901262010016,83fde304-5499-457b-882c-88820d08b545,2017-01-01 11:10:11.496
3,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818568,8901023005800,eadc3c64-190a-418f-be1b-b858320f5d29,2017-01-01 11:10:28.515
9,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818569,8901571001033,db9a6bc6-491a-4af8-94a1-4590f45de994,2017-01-01 11:13:01.317
18,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818570,8901233021829,3ed1a4f1-19fa-489e-92b1-834d1490da25,2017-01-01 11:19:13.467
19,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818570,8901030622700,547a8205-5c65-47dc-8fbc-5182301c64b6,2017-01-01 11:19:16.275
22,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818570,4902430731003,daba5993-dc3b-43f7-9eeb-abe7ad241e17,2017-01-01 11:27:59.184
23,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818570,8901063338852,2868a471-eaa7-4762-8f2e-f258a52a3995,2017-01-01 11:28:08.247
24,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818570,8901063338654,bc9acb1d-1b34-41d4-852f-c8975ca92fbd,2017-01-01 11:28:12.584
26,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818571,8904113900450,35871b8c-87a1-443a-9e3e-2e77067f6b66,2017-01-01 11:30:26.261
27,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818571,4902430612920,525e02f8-77a6-48c2-957f-2ba4642ef6f3,2017-01-01 11:30:31.986
29,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818572,8902080013036,5ddfc581-b977-4753-b417-bb9926c1af93,2017-01-01 11:50:06.949
30,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818572,8901030622984,e4531cc9-14c1-463d-a82e-66aaf6b22dfa,2017-01-01 11:50:11.255
31,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818572,4902430663724,e562ddcb-b76e-430c-9b91-9f4c06fcb29a,2017-01-01 11:50:14.234
32,SOFTGEN,DEL0000000288,Counter1,Counter1DEL000000028818572,8901138509231,63588fe3-b1c9-41d3-801b-a6fefbf74029,2017-01-01 11:50:16.839

In [24]:
len(barcode_rectified.index)

472089

In [25]:
barcode_rectified.to_csv('SOFT_GENv2.csv', sep='|', index=False)

In [26]:
import pandas as pd
file_location = 'BUSYv1.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '[0-9]'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
barcode_rectified[:15]

,POS_Application_Name,STOREID,MACID,BILLNO,BARCODE,GUID,CREATED_STAMP
0,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901399058561,a71a95e9-a4a5-4677-9d56-19102598a8ba,2017-01-01 11:55:38.916
1,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8901030349751,aa7aa16c-e4c1-4d31-bd83-7fe621172869,2017-01-01 11:55:45.234
3,BUSY,DEL0000001446,counter1,counter1DEL000000144630280,8910030349751,4bfacfcd-777e-4e9b-a5df-04166533e5b4,2017-01-01 11:55:45.562
4,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906002432587,0718888b-3e81-478a-900b-e299d4a500e7,2017-01-01 12:05:02.173
6,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,8906001055983,4f127c90-3867-45c4-bc0d-c211ec16cf21,2017-01-01 12:05:12.017
8,BUSY,DEL0000001446,counter1,counter1DEL000000144630281,906850510001,bf048bf1-bbad-4be0-9541-339e9c5b7ac4,2017-01-01 12:05:16.619
9,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007281980,5875c7ff-254e-4f60-be90-c04a445279de,2017-01-01 13:02:36.693
10,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,9068051050028,d03308e4-a460-4438-a2f2-7f789d020095,2017-01-01 13:02:39.548
11,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8901242114307,9e66de75-4377-415c-b579-b0f59200797b,2017-01-01 13:02:43.869
12,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906006332683,bc69c09e-a7cc-439a-bc30-77d4bbb5c26c,2017-01-01 13:02:57.722
13,BUSY,DEL0000001446,counter1,counter1DEL000000144630283,8906007280969,31d51ac5-3392-406d-aa9c-696d194b1e04,2017-01-01 13:03:12.557
15,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8049063200105,ff7b5722-b764-472b-912d-28ebdc179ec8,2017-01-01 13:04:46.539
16,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,8904063258441,ab9d4a65-c4b7-4306-9438-8ec2c9b79bd9,2017-01-01 13:04:52.498
17,BUSY,DEL0000001446,counter1,counter1DEL000000144630284,90806825,60d2bca9-a265-4511-bf09-cbfa332ec209,2017-01-01 13:04:56.881
232,BUSY,DEL0000001446,counter1,counter1DEL000000144630292,465978465060,75fb85f2-97b2-45fb-ac49-73aa0dd0439a,2017-01-01 13:56:30.120

In [27]:
len(barcode_rectified.index)

56513

In [28]:
barcode_rectified.to_csv('BUSYv4.csv', sep='|', index=False)

In [29]:
import pandas as pd
file_location = 'EASYSOL326dc49.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '[0-9]'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
len(barcode_rectified.index)
barcode_rectified.to_csv('EASYv2.csv', sep='|', index=False)

In [30]:
len(barcode_rectified.index)

256541

In [5]:
import pandas as pd
file_location = 'SOFT_GENd6661f5.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '^[0-9]*$'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
print(len(barcode_rectified.index))
barcode_rectified.to_csv('SOFT_GENv3.csv', sep='|', index=False)

468295

In [4]:
len(barcode_rectified.index)

468295

In [9]:
import pandas as pd
file_location = 'BUSYv1.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '^[0-9]*$'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
len(barcode_rectified.index)
barcode_rectified.to_csv('BUSYv5.csv', sep='|', index=False)

In [10]:
len(barcode_rectified.index)

56513

In [1]:
import pandas as pd
file_location = 'main.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '^[0-9]*$'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
len(barcode_rectified.index)
barcode_rectified.to_csv('mainv3.csv', sep='|', index=False)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
len(barcode_rectified)

262139

# Importing required libraries
- pandas for segregating and cleaning the data
- numpy for array handling

### Issues faced
- datetime in pandas and tensorflow (*which has to be added*)

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np

In [4]:
file_location = 'BUSYv1.csv'
df = pd.read_csv(file_location, sep='|', names=['POS_Application_Name','STOREID','MACID','BILLNO','BARCODE','GUID','CREATED_STAMP','CAPTURED_WINDOW','UPDATE_STAMP'])
barcode_size_corrected_df = df[(df['BARCODE'].str.len() == 12) | (df['BARCODE'].str.len() == 13) | (df['BARCODE'].str.len() == 8)]
no_capture_window = barcode_size_corrected_df[['POS_Application_Name','STOREID','BARCODE','GUID','CREATED_STAMP']]
barcode_pattern = '^[0-9]*$'
barcode_rectified = no_capture_window[no_capture_window['BARCODE'].str.contains(barcode_pattern)]
len(barcode_rectified.index)

56513

In [21]:
items_sold = barcode_rectified['BARCODE'].value_counts()
print(items_sold[:5])

8901030564185    668
8901030534898    425
8901058842722    363
8901030341663    300
8901030627378    295
Name: BARCODE, dtype: int64

#### Datatype issue

Here BARCODE and CREATED_STAMP have the datatype of **object** which is analogous to **string** in native python

In [22]:
print('barcode_rectified.BARCODE.dtype:\t' + str(barcode_rectified.BARCODE.dtype))
print('barcode_rectified.CREATED_STAMP.dtype:\t' + str(barcode_rectified.CREATED_STAMP.dtype))

barcode_rectified.BARCODE.dtype:	object
barcode_rectified.CREATED_STAMP.dtype:	object

#### Barcode Rectified
Using
```python
pd.to_datetime(<df>, format='<shell format>')
```
we have changed the CREATED_STAMP attribute from object to datetime Dtype

In [23]:
barcode_rectified['CREATED_STAMP'] = pd.to_datetime(barcode_rectified['CREATED_STAMP'], format='%Y-%m-%d %H:%M:%S')

In [24]:
print('barcode_rectified.CREATED_STAMP.dtype:\t' + str(barcode_rectified.CREATED_STAMP.dtype))

barcode_rectified.CREATED_STAMP.dtype:	datetime64[ns]

In [25]:
barcode_rectified.CREATED_STAMP[:15]

0     2017-01-01 11:55:38.916
1     2017-01-01 11:55:45.234
3     2017-01-01 11:55:45.562
4     2017-01-01 12:05:02.173
6     2017-01-01 12:05:12.017
8     2017-01-01 12:05:16.619
9     2017-01-01 13:02:36.693
10    2017-01-01 13:02:39.548
11    2017-01-01 13:02:43.869
12    2017-01-01 13:02:57.722
13    2017-01-01 13:03:12.557
15    2017-01-01 13:04:46.539
16    2017-01-01 13:04:52.498
17    2017-01-01 13:04:56.881
232   2017-01-01 13:56:30.120
Name: CREATED_STAMP, dtype: datetime64[ns]

### BARCODE datatype rectified
Barcode is now in int64 format (changed from object)

In [6]:
barcode_rectified.BARCODE = barcode_rectified.BARCODE.astype(str).astype(float)

In [7]:
print(barcode_rectified.BARCODE.dtype)

float64

## Converting to numpy array
use pandas.DataFrame.as_matrix(list) to convert pandas dataframe to a numpy array, so that it can be used for analysis

In [10]:
barcodes = pd.DataFrame.as_matrix(barcode_rectified['BARCODE'])

In [11]:
print(type(barcodes))

<class 'numpy.ndarray'>

In [12]:
created_stamps = pd.DataFrame.as_matrix(barcode_rectified['CREATED_STAMP'])
print(type(created_stamps))

<class 'numpy.ndarray'>

In [13]:
print(np.dtype(barcodes[0]))

int64

In [14]:
print(np.dtype(created_stamps[0]))

datetime64[ns]

In [27]:
barcode_rectified['CREATED_STAMP'] = barcode_rectified['CREATED_STAMP'].dt.strftime('%Y%m%d')

In [28]:
barcode_rectified['CREATED_STAMP'][:10]

0     20170101
1     20170101
3     20170101
4     20170101
6     20170101
8     20170101
9     20170101
10    20170101
11    20170101
12    20170101
Name: CREATED_STAMP, dtype: object

In [5]:
barcode_rectified.CREATED_STAMP = barcode_rectified.CREATED_STAMP.astype(str).astype(float)

ValueError: could not convert string to float: '2017-03-10 21:04:31.394'